.projects{
    display: flex;
}

.project_mainPage{
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.projects_left{
    height: 100vh;
    width: 25vw;
    background-color: #1E1E1E;
    border-right: 2.5px solid #2C2B2A;
    display: flex;
    flex-direction: column;
}
.projects_left h1{
    color: white;
    font-size: 40px;
    margin: 50px;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}
.projects_leftName{
    margin: 55px;
    margin-top: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.projects_leftName p{
    color: #B2B2B2;
    font-size: 20px;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid transparent;
}

.projects_leftName > .link:hover,.link:active, .link:focus{
    background-color: #545353;
    border-radius: 5px;
    border-color: #B2B2B2;
}
.projects_right{
    height: 83vh;
    width: 68vw;
    margin: 50px;
    background-color: #1E1E1E;
    overflow-y: auto;
    border: 2px solid #B2B2B2;
    border-radius: 10px;
}
.title{
    color: #B2B2B2;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}
.description,.key_features,.tech_stacks{
    color: #ffffff;
    text-align: center;
    margin: 0 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.key_features,.tech_stacks{
    text-align: left;
    margin-top: 10px;
    color: #bebebe;
}
.key{
    color: #B2B2B2;
    margin: 30px;
    font-size: 30px;
    border-bottom: 2px solid #B2B2B2;
    display: inline;
}
.projects_right > .project_card > .link> button{
    margin:10px 30px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #B2B2B2;
    color: #B2B2B2;
}
@media (max-width:1000px){
    .projects_left h1{
        margin-right: 10px;
        margin-left: 20px;
    }
    .projects_leftName{
        margin: 20px;
    }
}

@media (max-width: 750px){
    .projects{
        flex-direction: column;
    }
    .projects_left h1{
        font-size: 30px;
        padding-bottom: 25px;
    }
    .projects_leftName p{
        font-size: 19px;
    }
    .projects_right{
        width: auto;
        height: auto;
        margin: 10px;
        padding-bottom: 30px;
    }
    .project_mainPage{
        overflow: visible;
        height: auto;
        width: 100vw;
    }
    .projects_left{
        width: auto;
        height: 40vh;
        overflow-y: scroll;
    }
    .projects_left > h1{
        margin: 30px 55px;
        margin-bottom: 0;
    }
    .projects_leftName{
        margin: 0px 50px;
    }
    .projects_leftName > .link{
        margin:15px 0;
    }
    .title{
        font-size: 30px;
    }
    .description{
        font-size: 16px;
    }
    .key{
        font-size: 28px;
    }
    .key_features,.tech_stacks{
        font-size: 16px;
    }
}
@media (max-width:850px){
    .projects_left h1{
        margin-right: 10px;
        margin-left: 20px;
    }
    .projects_leftName p{
        font-size: 15px;
    }
}

.load_bar{
    height: 10px;
    position: absolute;
}
.note p{
    color: white;
    background-color: rgb(49, 50, 44);
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
}